body {
	margin: 0;
	font-family: Arial;
	text-align: center;
	background-color: #F7F5F6;
}

textarea {
	resize: none;
	border:  2px solid #ccc;
	border-radius: 6px;
}

label {
	font-family: "Roboto";
	font-size: 36px;
}

input[type=submit] {
	font-family: Roboto;
}

ul {
	text-align: left;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3C3C4C;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
}

li a:hover:not(.active) {
	background-color: #6ABA9C;
}

.active {
	background-color: #04AA6D;
}
